{% extends 'rango/base.html' %}
{% block title_block %}Discover | Absolute Cinema{% endblock %}
{% block nav_discover %}active{% endblock %}

{% block body_block %}

<section class="discover-top">
    <h1>Discover</h1>

    <form method="get" class="discover-search">
        <input
            id="search-box"
            type="text"
            name="q"
            value="{{ request.GET.q }}"
            placeholder="Search films, series, directors, actors, genre...">
    </form>

    <div class="discover-filters">
        <div class="discover-filters">
    <a href="{% url 'rango:discover' %}" class="filter {% if not request.GET.type %}active{% endif %}">ALL</a>
    <a href="{% url 'rango:discover' %}?type=movie" class="filter {% if request.GET.type == 'movie' %}active{% endif %}">FILMS</a>
    <a href="{% url 'rango:discover' %}?type=tv" class="filter {% if request.GET.type == 'tv' %}active{% endif %}">SERIES</a>
</div>
</section>

<section class="content-page discover-page-bg">
    <div id="movie-results" class="discover-grid">
        {% for movie in movies %}
    <div class="movie-card">
        <a href="{% url 'rango:movie_detail' movie.media_type movie.id %}" class="movie-link">
            {% if movie.poster_path %}
                <img
                    src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"
                    alt="{% if movie.title %}{{ movie.title }}{% else %}{{ movie.name }}{% endif %}"
                    class="poster-image">
            {% else %}
                <div class="poster-placeholder">NO POSTER</div>
            {% endif %}

            <h3>
                {% if movie.title %}
                    {{ movie.title }}
                {% else %}
                    {{ movie.name }}
                {% endif %}
            </h3>

            <p class="poster-meta">
                {% if movie.release_date %}
                    {{ movie.release_date|slice:":4" }}
                {% elif movie.first_air_date %}
                    {{ movie.first_air_date|slice:":4" }}
                {% endif %}
            </p>
        </a>
    </div>
{% empty %}
    <p>No movies found.</p>
{% endfor %}
    </div>
</section>

{% endblock %}