{% extends 'rango/base.html' %}

{% block title_block %}
Discover
{% endblock %}

{% block body_block %}

<section class="discover-top">

    <h1>Discover</h1>

    <form method="get" class="discover-search">

        <input id="search-box"
               type="text"
               name="q"
               placeholder="Search films, series, directors, actors, genre...">

    </form>

</section>


<section class="content-page discover-page-bg">

    <div id="movie-results" class="discover-grid">

        {% for movie in movies %}

        <div class="poster-card">

            <a href="{% url 'rango:movie_detail' movie.id %}">

                <div class="poster-placeholder">
                    POSTER
                </div>

            </a>

            <h3>{{ movie.title }}</h3>

            <p class="poster-meta">
                {{ movie.year }}
            </p>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}