{% extends 'rango/base.html' %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<section class="splash-hero">
    <div class="splash-overlay">
        <p class="hero-small">WELCOME TO</p>

        <div class="hero-logo">
            <span class="hero-logo-top">ABSOLUTE</span>
            <span class="hero-logo-bottom">CINEMA</span>
        </div>

        <p class="hero-main-line">Track films. Review them. Throw roses.</p>
        <p class="hero-sub-line">DISCOVER WHAT TO WATCH NEXT</p>

        <div class="hero-buttons">
            <a href="{% url 'rango:discover' %}" class="hero-btn hero-btn-red">DISCOVER</a>
            <a href="{% url 'rango:login' %}" class="hero-btn hero-btn-dark">LOGIN</a>
        </div>
    </div>
</section>

<section class="content-page home-page-bg">
    <div class="row-section">
        <h2>Trending <span>Now</span></h2>

        <div class="poster-row">
            {% for item in trending_titles %}
            <div class="poster-card">
                <a href="{% url 'rango:movie_detail' item.media_type item.id %}">
                    {% if item.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500{{ item.poster_path }}"
                          alt="{% if item.title %}{{ item.title }}{% else %}{{ item.name }}{% endif %}"
                         class="poster-image">
                {% else %}
                    <div class="poster-placeholder">MOVIE POSTER</div>
                {% endif %}
                </a>
                <p class="poster-rose-tag">+ THROW ROSES</p>
                <h3>
                        {% if item.title %}
                            {{ item.title }}
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    </h3>
                
                <p class="poster-meta">
                    {% if item.release_date %}
                            {{ item.release_date|slice:":4" }}
                        {% elif item.first_air_date %}
                            {{ item.first_air_date|slice:":4" }}
                        {% else %}
                            Year unavailable
                        {% endif %}
                <span class="mini-roses">
                            •
                            {% if item.media_type == "movie" %}
                                Movie
                            {% elif item.media_type == "tv" %}
                                Series
                            {% endif %}
                        </span>
                    </p>
                </div>
            {% empty %}
                <p>No trending titles available.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

            